	<!--- services --->
			<div class="clearfix"> </div>
			<!--- Other Expertise ---->
			<div id="port" class="expertise">
				<div class="expertice-grids">
					<div class="col-md-8 expertice-left-grid wow fadeInLeft" data-wow-delay="0.4s">
						<div class="expertise-head">
							<h3>Otros Servicios</h3>
							<p>Además contamos con un equipo altamente capacitado para la realización de servicios electromecánicos industriales</p>
						</div>
						<div class="expertise-left-inner-grids">
							<div class="e-left-inner-grid">
								<div class="e-left-inner-grid-left">
									<span class="e-icon1"> </span>
								</div>
								<div class="e-left-inner-grid-right">
									<h4>Controladores Fiscales</h4>
									<p>soporte técnico de controladores fiscales, reparación de PC, reparación de impresoras, contadora de billetes,</p>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="e-left-inner-grid">
									<div class="e-left-inner-grid-left">
										<span class="e-icon1"> </span>
									</div>
									<div class="e-left-inner-grid-right">
										<h4>PC Y Servidores dedicados</h4>
										<p>soporte técnico de controladores fiscales, reparación de PC, reparación de impresoras, contadora de billetes,</p>
									</div>
									<div class="clearfix"> </div>
								</div>
								<div class="e-left-inner-grid">
										<div class="e-left-inner-grid-left">
											<span class="e-icon1"> </span>
										</div>
										<div class="e-left-inner-grid-right">
											<h4>Venta de Insumos</h4>
											<p>soporte técnico de controladores fiscales, reparación de PC, reparación de impresoras, contadora de billetes,</p>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="e-left-inner-grid">
											<div class="e-left-inner-grid-left">
												<span class="e-icon1"> </span>
											</div>
											<div class="e-left-inner-grid-right">
												<h4>Soporte técnico en equipos industriales</h4>
												<p>soporte técnico de controladores fiscales, reparación de PC, reparación de impresoras, contadora de billetes.</p>
											</div>
											<div class="clearfix"> </div>
										</div>
						</div>
						<a class="leran-more" href="servicios">Ver Más</a>
					</div>
					<div class="col-md-4 expertice-right-grid wow fadeInRight" data-wow-delay="0.4s">
						
					</div>
					<div class="clearfix"> </div> 
				</div>
			</div>
			<!--- Other Expertise ---->