.logo-si{
width: 80px;


}
.text-sistemaintegral{
    color: #fff;
    font-size: 20px;
}
.text-sistemaintegral:hover{
    color: #EE2F1B;
    font-size: 20px;
}

.parallax{
   
    height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}
/*content-sitioweb*/

.content-sitioweb{
    
    margin: 0;
    padding: 0;
   
	background-size: cover;
    height: 700px;
    
}



/*End content-sitioweb*/