.logo-si{
width: 80px;


}
.text-sistemaintegral{
    color: #fff;
    font-size: 20px;
}
.text-sistemaintegral:hover{
    color: #EE2F1B;
    font-size: 20px;
}

.parallax{
   
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}
/*content-sitioweb*/

.content-sitioweb{
    
    margin: 0;
    padding: 0;
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('../images/responsive5.jpg');
	background-size: cover;
    height: 700px;
    
}

.content-sistema-desktop{
    margin: 0;
    padding: 0;
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('../images/responsive-design1.jpg');
	background-size: cover;
    height: 700px;
    
}

/*End content-sitioweb*/