<div class="bg-desktop">
    <!---- banner ---->
    <div class="banner wow fadeIn" data-wow-delay="0.5s">
        <div class="container">
            <div class="banner-info text-center">
                <h1>Soporte Técnico</h1><br />
                <span> </span>
                <p>Reparación de equipos informáticos</p>
            
            </div>
        </div>
    </div>

    <!---- banner ---->


</div>


<div class="cards-list popup-galleria">
   
        <div class="card 1">
            <a class="card_image" href="../../assets/images/screenshots/desktop1.jpeg" title="Login">
              <img src="../../assets/images/screenshots/desktop1.jpeg" width="75" height="75">
            </a>
          <!-- <div class="card_image"> <img src="../../assets/images/screenshots/desktop1.jpeg" /> </div> -->
          <div class="card_title title-white">
            <p>Login</p>
          </div>
        </div>
        
        <div class="card 2">
            <a class="card_image" href="../../assets/images/screenshots/desktop2-sm.jpeg" title="Menú Principal">
              <img src="../../assets/images/screenshots/desktop2-sm.jpeg" width="75" height="75">
            </a>
            
            <div class="card_title title-white">
              <p>Menú Principal</p>
            </div>
        </div>
        
        <div class="card 3">
            <a class="card_image" href="../../assets/images/screenshots/desktop3.jpeg" title="Ventas">
              <img src="../../assets/images/screenshots/desktop3-sm.png" width="75" height="75">
            </a>
            
            <div class="card_title title-white">
              <p>Ventas</p>
            </div>
        </div>
          
          <div class="card 4">
              <a class="card_image" href="../../assets/images/screenshots/desktop-estadistica.jpeg" title="Estadísticas">
                <img src="../../assets/images/screenshots/desktop-estadistica.jpeg" width="75" height="75">
              </a>
            
              
              <div class="card_title">
                <p>Estadísticas</p>
              </div>
          </div>

    
</div>
<!--- services --->
            <div class="clearfix"> </div>
            <!--- Other Expertise ---->
            <div id="port" class="expertise">
                <div class="expertice-grids">
                    <div class="col-md-12 expertice-left-grid wow fadeInLeft" data-wow-delay="0.4s">
                        <div class="expertise-head">
                            <h3>Sistema de escritorio</h3>
                            <p>Permite gestionar tus productos y servicios</p>
                            <p></p>
                        </div>
                        <div class="expertise-left-inner-grids">
                      
                            <div class="e-left-inner-grid">
                                    <div class="e-left-inner-grid-left">
                                            <span class="e-icon3"> </span>                                   
                                    </div>
                                    <div class="e-left-inner-grid-right">
                                        <h4>Control de Stock</h4>
                                        <p></p>
                                    </div>
                                    <div class="clearfix"> </div>
                            </div>
                            <div class="e-left-inner-grid">
                                <div class="e-left-inner-grid-left">
                                        <span class="e-icon3"> </span>                                
                                </div>
                                <div class="e-left-inner-grid-right">
                                    <h4>Flujo de Caja</h4>
                                    <p></p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="e-left-inner-grid">
                                <div class="e-left-inner-grid-left">
                                    <span class="e-icon3"> </span>
                                </div>
                                <div class="e-left-inner-grid-right">
                                    <h4>Gestion de Producto</h4>
                                    <p></p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="e-left-inner-grid">
                                <div class="e-left-inner-grid-left">
                                <span class="e-icon3"> </span>
                                </div>
                                <div class="e-left-inner-grid-right">
                                    <h4>Gestión de ventas</h4>
                                    <p></p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div> 
                </div>
            </div>
            <!--- Other Expertise ---->

            <div id="" class="expertise">
                <div class="expertice-grids">
                        <div class="col-md-12 parallax wow fadeInRight" data-wow-delay="0.4s" style="background-image: url('../../assets/images/responsive-design1.jpg');">
                          
                        </div>
                    <div class="clearfix"> </div> 
                </div>
            </div>