<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
	<head>
		<title>Sistema Integral</title>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		 <!-- Custom Theme files -->
		 <!---- animated-css ---->
		
		<!---- animated-css ---->
	
		 <!---- start-smoth-scrolling---->
   		 <!-- Custom Theme files -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!----webfonts--->
		<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
		<!---//webfonts--->
		<!----start-top-nav-script---->
	
		<!----//End-top-nav-script---->
	</head>
	<body>
		<div class="bg">
		<!----- start-header---->
			<div id="home" class="header wow bounceInDown" data-wow-delay="0.4s">
					<div class="top-header">
						<div class="container">
						<div class="logo">
							<a href="#"><img src="assets/images/logo.png" title="dreams" /></a>
						</div>
						<!----start-top-nav---->
						 <nav class="top-nav">
							<ul class="top-nav">
								<li class="active"><a href="#home" class="scroll">Inicio</a></li>
								<li><a href="#services" class="scroll">Servicios</a></li>
								<li><a href="#port" class="scroll">Galería de Fotos</a></li>
								<li><a href="#contact" class="scroll">Contacto</a></li>
							</ul>
							<a href="#" id="pull"><img src="assets/images/menu-icon.png" title="menu" /></a>
						</nav>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
			<!----- //End-header---->
			<!---- banner ---->
			<div class="banner wow fadeIn" data-wow-delay="0.5s">
				<div class="container">
					<div class="banner-info text-center">
						<h1>Sistema Integral</h1><br />
						<span> </span>
						<p>Somos una empresa destinada a brindar servicios integrales</p>
					</div>
				</div>
			</div>
		</div>
			<!---- banner ---->
			<!--- services --->
			<div id="services" class="services">
				<div class="container">
					<div class="service-head text-center">
						<h2>Servicios</h2>
						<span> </span>
					</div>
					<!--- services-grids --->
					<div class="services-grids text-center">
						<div class="col-md-3">
							<div class="service-grid wow bounceIn" data-wow-delay="0.4s">
								<span class="service-icon1"> </span>
								<h3><a href="#">Sistemas Desktop</a></h3>
								<p>Sistemas a Medida de su negocio</p>
							</div>
						</div>
						<div class="col-md-3">
							<div class="service-grid wow bounceIn" data-wow-delay="0.4s">
								<span class="service-icon2"> </span>
								<h3><a href="#">Sitios web</a></h3>
								<p>Construcción de Páginas Web</p>
							</div>
						</div>
						<div class="col-md-3">
							<div class="service-grid wow bounceIn" data-wow-delay="0.4s">
								<span class="service-icon3"> </span>
								<h3><a href="#">Impresoras Fiscales</a></h3>
								<p>Reparación y Ventas de Insumos</p>
							</div>
						</div>
						<div class="col-md-3">
								<div class="service-grid wow bounceIn" data-wow-delay="0.4s">
									<span class="service-icon1"> </span>
									<h3><a href="#">Soporte Técnico</a></h3>
									<p>Horario comercial</p>
								</div>
							</div>
						<div class="clearfix"> </div>
					</div>
					<!--- services-grids --->
				</div>
			</div>
			<!--- services --->
			<div class="clearfix"> </div>
			<!--- Other Expertise ---->
			<div id="port" class="expertise">
				<div class="expertice-grids">
					<div class="col-md-8 expertice-left-grid wow fadeInLeft" data-wow-delay="0.4s">
						<div class="expertise-head">
							<h3>Otros Servicios</h3>
							<p>Además contamos con un equipo altamente capacitado para la realización de servicios electromecánicos industriales</p>
						</div>
						<div class="expertise-left-inner-grids">
							<div class="e-left-inner-grid">
								<div class="e-left-inner-grid-left">
									<span class="e-icon1"> </span>
								</div>
								<div class="e-left-inner-grid-right">
									<h4>Controladores Fiscales</h4>
									<p>soporte técnico de controladores fiscales, reparación de PC, reparación de impresoras, contadora de billetes,</p>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="e-left-inner-grid">
									<div class="e-left-inner-grid-left">
										<span class="e-icon1"> </span>
									</div>
									<div class="e-left-inner-grid-right">
										<h4>PC Y Servidores dedicados</h4>
										<p>soporte técnico de controladores fiscales, reparación de PC, reparación de impresoras, contadora de billetes,</p>
									</div>
									<div class="clearfix"> </div>
								</div>
								<div class="e-left-inner-grid">
										<div class="e-left-inner-grid-left">
											<span class="e-icon1"> </span>
										</div>
										<div class="e-left-inner-grid-right">
											<h4>Venta de Insumos</h4>
											<p>soporte técnico de controladores fiscales, reparación de PC, reparación de impresoras, contadora de billetes,</p>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="e-left-inner-grid">
											<div class="e-left-inner-grid-left">
												<span class="e-icon1"> </span>
											</div>
											<div class="e-left-inner-grid-right">
												<h4>Soporte técnico en equipos industriales</h4>
												<p>soporte técnico de controladores fiscales, reparación de PC, reparación de impresoras, contadora de billetes.</p>
											</div>
											<div class="clearfix"> </div>
										</div>
						</div>
						<a class="leran-more" href="#">Ver Más</a>
					</div>
					<div class="col-md-4 expertice-right-grid wow fadeInRight" data-wow-delay="0.4s">
						
					</div>
					<div class="clearfix"> </div> 
				</div>
			</div>
			<!--- Other Expertise ---->
			<!--- portfolio ---->
			<div class="portfolio">
				<div class="portfolio-top">
					<div class="col-md-8">
						<div class="portfolio-top-left wow fadeInLeft" data-wow-delay="0.4s">
							<h3>Galería de Fotos</h3>
							<p>Te presentamos una galería de imagenes para que puedas conocer nuestros productos de Software</p>
							<p>Podrás ver además,las impresoras fiscales de nueva generación para que decidas adquirirlo para tu negocio</p>
							<div class="portfolio-top-left-grids">
								<div class="portfolio-top-left-grid">
									<div class="portfolio-top-left-grid-left">
										<span class="p-icon1"> </span>
									</div>
									<div class="portfolio-top-left-grid-right">
										<h5>Software de facturación para Estación de Servicio</h5>
										<p>Es un sistema que integra el modulo facturación con la impresión de tickets con impresoras fiscales de nueva generación</p>
									</div>
									<div class="clearfix"> </div>
								</div>
								<div class="portfolio-top-left-grid">
									<div class="portfolio-top-left-grid-left">
										<span class="p-icon2"> </span>
									</div>
									<div class="portfolio-top-left-grid-right">
										<h5>Software de facturación y control de stock para almacén</h5>
										<p>Es un sistema que que permite la gestión de productos, ventas de productos, control de stock y gestión de cartera de clientes</p>
									</div>
									<div class="clearfix"> </div>
								</div>
								<div class="portfolio-top-left-grid">
									<div class="portfolio-top-left-grid-left">
										<span class="p-icon3"> </span>
									</div>
									<div class="portfolio-top-left-grid-right">
										<h5>Software de facturación y control de stock para Ferretería</h5>
										<p>Es un sistema que que permite la gestión de productos, ventas de articulos de ferretería, con emisión de comprobantes, tales como remitos, ordenes de servicio, factura. </p>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 portfolio-top-right-inner wow fadeInRight" data-wow-delay="0.4s">
						<div class="portfolio-top-right">
							
						</div>
					</div>
					<div class="clearfix"> </div>
					<!---- portfolio-works ---->
					<div class="portfolio-works">
						<div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
							<div class="portfolio-work-grid-pic">
								<img src="assets/images/portfolio/impresora Hasar.png"  />
							</div>
							<div class="portfolio-work-grid-caption">
								<h4>Hasar</h4>
								<!-- <p>Here you can find some of our latest works,  Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. to see the details of these works just click the thumbnails below.</p> -->
							</div>
						</div>
						<div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
							<div class="portfolio-work-grid-pic">
								<img src="assets/images/portfolio/impresora Hasar.png"  />
							</div>
							<div class="portfolio-work-grid-caption">
								<h4>Hasar</h4>
								<!-- <p>Here you can find some of our latest works,  Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. to see the details of these works just click the thumbnails below.</p> -->
							</div>
						</div>
						<div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
							<div class="portfolio-work-grid-pic">
								<img src="assets/images/portfolio/impresora Hasar.png"  />
							</div>
							<div class="portfolio-work-grid-caption">
								<h4>Hasar</h4>
								<!-- <p>Here you can find some of our latest works,  Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. to see the details of these works just click the thumbnails below.</p> -->
							</div>
						</div>
						<div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
							<div class="portfolio-work-grid-pic">
								<img src="assets/images/portfolio/TM-T900FA_1.jpg"/>
							</div>
							<div class="portfolio-work-grid-caption">
								<h4>Epson</h4>
								<!-- <p>Here you can find some of our latest works,  Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. to see the details of these works just click the thumbnails below.</p> -->
							</div>
						</div>
						<div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
							<div class="portfolio-work-grid-pic">
								<img src="assets/images/portfolio/TM-T900FA_1.jpg"  />
							</div>
							<div class="portfolio-work-grid-caption">
								<h4>Epson</h4>
								<!-- <p>Here you can find some of our latest works,  Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. to see the details of these works just click the thumbnails below.</p> -->
							</div>
						</div>
						<div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
							<div class="portfolio-work-grid-pic">
								<img src="assets/images/portfolio/TM-T900FA_1.jpg"  />
							</div>
							<div class="portfolio-work-grid-caption">
								<h4>Epson</h4>
								<!-- <p>Here you can find some of our latest works,  Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. to see the details of these works just click the thumbnails below.</p> -->
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<!---- portfolio-works ---->
				</div>
			</div>
			<!--- portfolio ---->
			<!---- about ---->
			<!---start-about---->
		<div class="about">
			<div class="wrap"> 
				<div class="about-head">
					<h1>Nosotros</h1>
					<span> </span>
				</div>
				<!---start-about-time-line---->
				<div class="container">
				
					<p>Sistema Integral,es una empresa joven de Resistencia,chaco que trabaja día a día en pos de ofrecer servicios de gran calidad.</p>
					<br />
					<p>Tenemos la misión de brindar trabajos que engloban tecnología, electricidad y mecánica</p>
					<br />
					<p>Nace atravez de la constante necesidad que presentan las empresas para agilizar el funcionamiento o desarrollo de su negocio mediante una aplicación hecha a medida que se ajuste a dicha necesidad.</p>
					<br />
					<p>Además Hemos logrado conformar un portafolio integral de servicios , tales como soporte técnico de controladores fiscales, reparación de PC, reparación de impresoras, contadora de billetes, etc.</p>
					<p>Reparación de bombas de incendio, Reparación de horno de panadería, instalación de tableros Electricos</p>
					<p>ventas de insumos de impresoras fiscales.</p>
					<br /> 
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
				</div>
				<!---//End-about-time-line---->
			<!---- about ---->
		</div>
			<!---- contact --->
			<div id="contact" class="contact">
				<div class="container">
				<div class="contact-grids">
					<div class="col-md-8">
						<div class="contact-left wow fadeInRight" data-wow-delay="0.4s">
							<h3>Contáctanos</h3>
							<label>Ante cualquier duda puede contactarse con nosotros</label>
							<div class="contact-left-grids">
								<div class="col-md-6">
									<div class="contact-left-grid">
										<p><span class="c-mobi"> </span>3794-315625</p>
										<br>
										<p><span class="c-mobi"> </span>3624-223198</p>
										<!-- <p><span class="c-twitter"> </span><a href="#">@dreams</a></p>
										<p><span class="c-pluse"> </span><a href="#">plus.com/dreams</a></p> -->
									</div>
								</div>
								<div class="col-md-6">
									<div class="contact-right-grid">
										<p><span class="c-msg"> </span><a href="integralramirez@gmail.com">integralramirez@gmail.com</a></p>
										<p><span class="c-face"> </span><a href="#">facebook.com/sisintegral</a></p>
									
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
							<div class="mapouter"><div class="gmap_canvas"><iframe width="250" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=misionero%20klein%20970&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.whatismyip-address.com">whatismyip-address.com</a></div><style>.mapouter{position:relative;text-align:right;height:300px;width:250px;}.gmap_canvas {overflow:hidden;background:none!important;height:300px;width:250px;}</style></div>
						<!-- <div class="contact-right wow fadeInLeft" data-wow-delay="0.4s">
							<form>
								<input type="text" class="text" value="Name..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name...';}">
					 			<input type="text" class="text" value="Email..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email...';}">
					 	 		<textarea value="Message:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message..</textarea>
								<input class="wow shake" data-wow-delay="0.3s" type="submit" value="Send Message" />
							</form>
						</div> -->
					</div>
					<div class="clearfix"> </div>
				</div>
				<!--- copy-right ---->
				<div class="copy-right text-center">
					<p>Template by <a href="http://w3layouts.com/">W3layouts</a></p>
				
								
					<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
				</div>
				<!--- copy-right ---->
			</div>
		
			<!---- contact --->
		</div>
	</body>
</html>

