
			<!--- services --->
			<div id="services" class="services">
				<div class="container">
					<div class="service-head text-center">
						<h2>Servicios</h2>
						<span> </span>
					</div>
					<!--- services-grids --->
					<div class="services-grids text-center">
						<div class="col-md-3">
							<div class="service-grid wow bounceIn" data-wow-delay="0.4s">
								<span class="service-icon1"> </span>
								<h3><a href="#">Sistemas Desktop</a></h3>
								<p>Sistemas a Medida de su negocio</p>
							</div>
						</div>
						<div class="col-md-3">
							<div class="service-grid wow bounceIn" data-wow-delay="0.4s">
								<span class="service-icon2"> </span>
								<h3><a href="#">Sitios web</a></h3>
								<p>Construcción de Páginas Web</p>
							</div>
						</div>
						<div class="col-md-3">
							<div class="service-grid wow bounceIn" data-wow-delay="0.4s">
								<span class="service-icon3"> </span>
								<h3><a href="#">Impresoras Fiscales</a></h3>
								<p>Reparación y Ventas de Insumos</p>
							</div>
						</div>
						<div class="col-md-3">
								<div class="service-grid wow bounceIn" data-wow-delay="0.4s">
									<span class="service-icon1"> </span>
									<h3><a href="#">Soporte Técnico</a></h3>
									<p>Horario comercial</p>
								</div>
							</div>
						<div class="clearfix"> </div>
					</div>
					<!--- services-grids --->
				</div>
			</div>
			<!--- services --->
			<div class="clearfix"> </div>
			<!--- Other Expertise ---->
			<div id="port" class="expertise">
				<div class="expertice-grids">
					<div class="col-md-8 expertice-left-grid wow fadeInLeft" data-wow-delay="0.4s">
						<div class="expertise-head">
							<h3>Otros Servicios</h3>
							<p>Además contamos con un equipo altamente capacitado para la realización de servicios electromecánicos industriales</p>
						</div>
						<div class="expertise-left-inner-grids">
							<div class="e-left-inner-grid">
								<div class="e-left-inner-grid-left">
									<span class="e-icon1"> </span>
								</div>
								<div class="e-left-inner-grid-right">
									<h4>Controladores Fiscales</h4>
									<p>soporte técnico de controladores fiscales, reparación de PC, reparación de impresoras, contadora de billetes,</p>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="e-left-inner-grid">
									<div class="e-left-inner-grid-left">
										<span class="e-icon1"> </span>
									</div>
									<div class="e-left-inner-grid-right">
										<h4>PC Y Servidores dedicados</h4>
										<p>soporte técnico de controladores fiscales, reparación de PC, reparación de impresoras, contadora de billetes,</p>
									</div>
									<div class="clearfix"> </div>
								</div>
								<div class="e-left-inner-grid">
										<div class="e-left-inner-grid-left">
											<span class="e-icon1"> </span>
										</div>
										<div class="e-left-inner-grid-right">
											<h4>Venta de Insumos</h4>
											<p>soporte técnico de controladores fiscales, reparación de PC, reparación de impresoras, contadora de billetes,</p>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="e-left-inner-grid">
											<div class="e-left-inner-grid-left">
												<span class="e-icon1"> </span>
											</div>
											<div class="e-left-inner-grid-right">
												<h4>Soporte técnico en equipos industriales</h4>
												<p>soporte técnico de controladores fiscales, reparación de PC, reparación de impresoras, contadora de billetes.</p>
											</div>
											<div class="clearfix"> </div>
										</div>
						</div>
						<a class="leran-more" href="servicios">Ver Más</a>
					</div>
					<div class="col-md-4 expertice-right-grid wow fadeInRight" data-wow-delay="0.4s">
						
					</div>
					<div class="clearfix"> </div> 
				</div>
			</div>
			<!--- Other Expertise ---->
			
			<!---- about ---->
			<!---start-about---->
		<div class="about">
			<div class="wrap"> 
				<div class="about-head">
					<h1>Nosotros</h1>
					<span> </span>
				</div>
				<!---start-about-time-line---->
				<div class="container">
					<br />
					<p>Somos una empresa de Resistencia,chaco que trabaja día a día en pos de ofrecer servicios de gran calidad.</p>
					
					<br />
					<p>Hemos logrado conformar un portafolio de servicios integrales,
					   en la cual, contamos con un equipo de trabajo muy completo.
					</p>
					
					<br />
					<p>Tenemos la misión de brindar servicios que engloban tecnología, electricidad y mecánica.</p>
					<br />
					<p>Nace a travez de la consolidación de dichos labores, 
					   significando una reducción en el tiempo de busqueda para las contrataciones de servicios en un area específica.
					   Haciendo que nuestros clientes aumenten su confianza a lo largo de los años.</p>
						
					<br />
					<p>En el area Tecnologica, nos hemos especializado en el desarrollo de software informático,
						que son construidas a medida para ajustarse a la necesidad del negocio.</p>
					<br />
					<p>En el area de Electricidad y Mecánica, instalamos y brindamos soportes a equipos industriales, equipos eléctricos y equipos de refrigeración.</p>
					<br /> 
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
				</div>
				<!---//End-about-time-line---->
			<!---- about ---->
		</div>
		