			<div class="bg">
				<!---- banner ---->
				<div class="banner wow fadeIn" data-wow-delay="0.5s">
					<div class="container">
						<div class="banner-info text-center">
							<h1>Sistema Integral</h1><br />
							<span> </span>
							<p>Somos una empresa destinada a brindar servicios integrales</p>
						</div>
					</div>
				</div>

				<!---- banner ---->


			</div>
			<!--- services --->
			<div id="services" class="services">
					<div class="service-head text-center">
						<h2>Servicios</h2>
						<span> </span>
					</div>
					<!--- services-grids --->
					<div class="services-grids text-center">
							<div data-wow-delay="0.2s" class="span3 wow bounceInUp center" style="visibility: visible; animation-delay: 0.2s; animation-name: bounceInUp;">
							<ul class="ch-grid">
							  	<li>
									<div class="ch-item ch-img-1">				
										<div class="ch-info-wrap">
											<div class="ch-info">
												<div class="ch-info-front ch-img-1"></div>
												<div class="ch-info-back">
														<a href="sistema-desktop"><h3>Sistemas Desktop</h3></a>
														<p>Sistemas a Medida para tu negocio</p>
												</div>	
											</div>
										</div>
									</div>
								</li>
						
								<li>
									<div class="ch-item ch-img-2">
										<div class="ch-info-wrap">
											<div class="ch-info">
												<div class="ch-info-front ch-img-2"></div>
												<div class="ch-info-back">
														<a href="sitios-web"><h3>Sitios web</h3></a>
														<p>Construcción de Páginas web<p>
												</div>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="ch-item ch-img-3">
										<div class="ch-info-wrap">
											<div class="ch-info">
												<div class="ch-info-front ch-img-3"></div>
												<div class="ch-info-back">
													<a href="#"><h3>Soporte Técnico</h3></a>
													<p>Reparación de PC, impresoras y mucho más ...</p>
												</div>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>

						<div class="clearfix"> </div>
					</div>
					<!--- services-grids --->
				
			</div>
			<!--- services --->
			<div class="clearfix"> </div>
			<!--- Other Expertise ---->
			<div id="port" class="expertise">
				<div class="expertice-grids">
					<div class="col-md-8 expertice-left-grid wow fadeInLeft" data-wow-delay="0.4s">
						<div class="expertise-head">
							<h3>Otros Servicios</h3>
							<p>Además contamos con un equipo altamente capacitado en servicios electromecánicos industriales</p>
						</div>
						<div class="expertise-left-inner-grids">
							<div class="e-left-inner-grid">
								<div class="e-left-inner-grid-left">
									<span class="e-icon1"> </span>
								</div>
								<div class="e-left-inner-grid-right">
									<h4>Soporte técnico en equipos industriales</h4>
									<p>Bomba de Incendio</p>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="e-left-inner-grid">
								<div class="e-left-inner-grid-left">
									<span class="e-icon1"> </span>
								</div>
								<div class="e-left-inner-grid-right">
									<h4>Electricidad y subcomandos</h4>
									<p>Electicidad industrial, Comandos electrónicos para motores industriales y tableros de transferencia</p>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="e-left-inner-grid">
									<div class="e-left-inner-grid-left">
										<span class="e-icon1"> </span>
									</div>
									<div class="e-left-inner-grid-right">
										<h4>Reparación de equipos de panadería</h4>
										<p>Hornos, Sobadoras y Amasadoras</p>
									</div>
									<div class="clearfix"> </div>
								</div>
								<div class="e-left-inner-grid">
										<div class="e-left-inner-grid-left">
											<span class="e-icon1"> </span>
										</div>
										<div class="e-left-inner-grid-right">
											<h4>Refrigeración</h4>
											<p>Instalación de Split,Cámaras de Frío, Fermentadores y Congelados</p>
										</div>
										<div class="clearfix"> </div>
									</div>
									
						</div>
						<!-- <a class="leran-more" href="servicios">Ver Más</a> -->
					</div>
					<div class="col-md-4 expertice-right-grid wow fadeInRight" data-wow-delay="0.4s">
						
					</div>
					<div class="clearfix"> </div> 
				</div>
			</div>
			<!--- Other Expertise ---->
			
			<!---- about ---->
			<!---start-about---->
		<div class="about">
			<div class="wrap"> 
				<div class="about-head">
					<h1>Nosotros</h1>
					<span> </span>
				</div>
				<!---start-about-time-line---->
				<div class="container">
					<br />
					<p>Somos una empresa de Resistencia,chaco que trabaja día a día en pos de ofrecer servicios de gran calidad.</p>
					
					<br />
					<p>Hemos logrado conformar un portafolio de servicios integrales,
					   en la cual, contamos con un equipo de trabajo muy completo.
					</p>
					
					<br />
					<p>Tenemos la misión de brindar servicios que engloban tecnología, electricidad y mecánica.</p>
					<br />
					<p>Nace a travez de la consolidación de dichos labores, 
					   significando una reducción en el tiempo de busqueda para las contrataciones de servicios en un area específica.
					   Haciendo que nuestros clientes aumenten su confianza a lo largo de los años.</p>
						
					<br />
					<p>En el area Tecnologica, nos hemos especializado en el desarrollo de software informático,
						que son construidas a medida para ajustarse a la necesidad del negocio.</p>
					<br />
					<p>En el area de Electricidad y Mecánica, instalamos y brindamos soportes a equipos industriales, equipos eléctricos y equipos de refrigeración.</p>
					<br /> 
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
				</div>
				<!---//End-about-time-line---->
			<!---- about ---->
		</div>
		