
		<div class="bg">
		<!----- start-header---->
			<div id="home" class="header wow bounceInDown" data-wow-delay="0.4s">
					<div class="top-header">
						<div class="container">
						<div class="logo">
							<a href="#"><h3 class="text-sistemaintegral text-center">Sistema integral</h3></a>
						</div>
						<!----start-top-nav---->
						 <nav class="top-nav">
							<ul class="top-nav">
								<li class="active"><a href="#home" class="scroll">Inicio</a></li>
								<li><a href="#services" class="scroll">Servicios</a></li>
								<li><a href="#port" class="scroll">Galería de Fotos</a></li>
								<li><a href="#contact" class="scroll">Contacto</a></li>
							</ul>
							<a href="#" id="pull"><img src="assets/images/menu-icon.png" title="menu" /></a>
						</nav>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
			
			<!----- //End-header---->
        </div>
      
			
        