
		<div class="bg-nav">
		<!----- start-header---->
			<div id="home" class="header wow pulse" data-wow-delay="0.4s">
					<div class="top-header">
						<div class="container">
						<div class="logo">
							<a href="#"><img style="width: 65px;" src="assets/images/logo grande.png" title="Sistema Integral" /></a>
						</div>
						<!----start-top-nav---->
						 <nav class="top-nav">
							<ul class="top-nav">
								<li class="active"><a href="" >Inicio</a></li>
								<li><a href="#services" class="scroll">Servicios</a></li>
								<li><a href="sitios-web" >Sitios web</a></li>
								<li><a href="sistema-desktop" >Sistema Desktop</a></li>
								<li><a href="#contact" class="scroll">Contacto</a></li>
							</ul>
							<a href="#" id="pull"><img src="assets/images/menu-icon.png" title="menu" /></a>
						</nav>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
			
			<!----- //End-header---->
        </div>
      
			
        