<!--- portfolio ---->
<div class="portfolio">
    <div class="portfolio-top">
        <div class="col-md-8">
            <div class="portfolio-top-left wow fadeInLeft" data-wow-delay="0.4s">
                <h3>Galería de Fotos</h3>
                <p>Te presentamos una galería de imagenes para que puedas conocer nuestros productos de Software</p>
                <p>Podrás ver además,las impresoras fiscales de nueva generación para que decidas adquirirlo para tu negocio</p>
                <div class="portfolio-top-left-grids">
                    <div class="portfolio-top-left-grid">
                        <div class="portfolio-top-left-grid-left">
                            <span class="p-icon1"> </span>
                        </div>
                        <div class="portfolio-top-left-grid-right">
                            <h5>Software de facturación para Estación de Servicio</h5>
                            <p>Es un sistema que integra el modulo facturación con la impresión de tickets con impresoras fiscales de nueva generación</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="portfolio-top-left-grid">
                        <div class="portfolio-top-left-grid-left">
                            <span class="p-icon2"> </span>
                        </div>
                        <div class="portfolio-top-left-grid-right">
                            <h5>Software de facturación y control de stock para almacén</h5>
                            <p>Es un sistema que que permite la gestión de productos, ventas de productos, control de stock y gestión de cartera de clientes</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="portfolio-top-left-grid">
                        <div class="portfolio-top-left-grid-left">
                            <span class="p-icon3"> </span>
                        </div>
                        <div class="portfolio-top-left-grid-right">
                            <h5>Software de facturación y control de stock para Ferretería</h5>
                            <p>Es un sistema que que permite la gestión de productos, ventas de articulos de ferretería, con emisión de comprobantes, tales como remitos, ordenes de servicio, factura. </p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 portfolio-top-right-inner wow fadeInRight" data-wow-delay="0.4s">
            <div class="portfolio-top-right">
                
            </div>
        </div>
        <div class="clearfix"> </div>
        <!---- portfolio-works ---->
        <div class="portfolio-works">
            <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
                <div class="portfolio-work-grid-pic">
                    <img src="assets/images/portfolio/impresora Hasar.png"  />
                </div>
                <div class="portfolio-work-grid-caption">
                    <h4>Hasar</h4>
                    <!-- <p>Here you can find some of our latest works,  Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. to see the details of these works just click the thumbnails below.</p> -->
                </div>
            </div>
            <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
                <div class="portfolio-work-grid-pic">
                    <img src="assets/images/portfolio/impresora Hasar.png"  />
                </div>
                <div class="portfolio-work-grid-caption">
                    <h4>Hasar</h4>
                    <!-- <p>Here you can find some of our latest works,  Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. to see the details of these works just click the thumbnails below.</p> -->
                </div>
            </div>
            <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
                <div class="portfolio-work-grid-pic">
                    <img src="assets/images/portfolio/impresora Hasar.png"  />
                </div>
                <div class="portfolio-work-grid-caption">
                    <h4>Hasar</h4>
                    <!-- <p>Here you can find some of our latest works,  Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. to see the details of these works just click the thumbnails below.</p> -->
                </div>
            </div>
            <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
                <div class="portfolio-work-grid-pic">
                    <img src="assets/images/portfolio/TM-T900FA_1.jpg"/>
                </div>
                <div class="portfolio-work-grid-caption">
                    <h4>Epson</h4>
                    <!-- <p>Here you can find some of our latest works,  Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. to see the details of these works just click the thumbnails below.</p> -->
                </div>
            </div>
            <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
                <div class="portfolio-work-grid-pic">
                    <img src="assets/images/portfolio/TM-T900FA_1.jpg"  />
                </div>
                <div class="portfolio-work-grid-caption">
                    <h4>Epson</h4>
                    <!-- <p>Here you can find some of our latest works,  Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. to see the details of these works just click the thumbnails below.</p> -->
                </div>
            </div>
            <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
                <div class="portfolio-work-grid-pic">
                    <img src="assets/images/portfolio/TM-T900FA_1.jpg"  />
                </div>
                <div class="portfolio-work-grid-caption">
                    <h4>Epson</h4>
                    <!-- <p>Here you can find some of our latest works,  Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. to see the details of these works just click the thumbnails below.</p> -->
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <!---- portfolio-works ---->
    </div>
</div>
<!--- portfolio ---->